{% extends 'edx_stats/base.html' %}

{% block title %}Countries - {{platform_name}} Statistics{% endblock %}

{% block header %}User Statistics by Country{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">All Countries</h5>
        </div>
        <div class="card-body">
            <div id="country-list">
                {% include 'edx_stats/partials/country_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}