{% load countries %}

<div class="overflow-x-auto">
    <table class="min-w-full table-auto">
        <thead>
            <tr class="bg-gray-100">
                <th class="px-4 py-2 text-left">Country</th>
                <th class="px-4 py-2 text-right">Users</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
            <tr class="border-t">
                <td class="px-4 py-2">{{ country.country|country_name }}</td>
                <td class="px-4 py-2 text-right">{{ country.user_count }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="px-4 py-2 text-center text-gray-500">No country data available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>